# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
build/
dist/
*.egg-info/
*.egg


# Bioiain V2
test/data/*/
test/data/*.link.list
test/exports
test/crystals
test/test
test/embeddings
test/pml
test/headers
test/models
test/datasets
test/predictions

test/.models
test/trash
test/figs
test/foldseek
test/pisa_raw
test/pisa_data
test/bioiain
test/cvmaps


# Bioiain V3
test/runs
*/bioiain.d/
test/bioian.d
test/ bioiain.d
test/logs

# Docs
html


# IDEs
.idea
*.geany
*.sublime-*

#ALEPH
*/fromCVtoAA_12.txt