# Bioiain dependencies #######
# Should match pyproject.toml

#python >= 3.13
setuptools >= 77.0.3
biopython >= 1.85
pandas >= 2.2.3
numpy >= 2.2.5
matplotlib >= 3.10.7
typing-extensions >= 4.15.0
requests >= 2.32.5
unidecode >= 1.4.0
scikit-learn >= 1.7.2
xmltodict >= 0.14.2

##############################

#dev
pdoc3
twine
build