python == 3.12 # Lowest support (pyproject should allow higher versions too)
pip
conda-forge::pymol-open-source >= 2.5.0
#bioconda::foldseek #  not installed by default as default version can be heavy
bioconda::clustalw == 2.1
bioconda::mmseqs2
