# Bioiain dependencies #################################################
# Should match pyproject.toml


# Critical ############################################################
numpy
polars
matplotlib >= 3.10.8
scikit-learn >= 1.8.0
scipy >= 1.17.0

# Essential ###########################################################
typing-extensions >= 4.15.0
requests >= 2.32.5
unidecode >= 1.4.0
xmltodict >= 0.14.2
psutil
requests


# ML ###################################################################
torch >= 2.6 # install version for each machine (Below 2.6 cant load models, CVE-2025-32434)
torchvision # install version for each machine
transformers
tensorboard


# ALEPH ###############################################################
numpy >= 2.4.2
biopython >= 1.86
future
termcolor
igraph
pandas >= 2.3.3

# DB ###################################################################
#plinder

# ProstT5 #############################################################
biopython>=1.86
protobuf>=7.34.0
sentencepiece>=0.2.1
#torch>=2.10.0
transformers==4.57.6

# CONDA ################################################################

# python >= 3.12
# pip
# conda-forge::pymol-open-source >= 2.5.0
# bioconda::foldseek
# bioconda::clustalw == 2.1


# Dev ##################################################################
setuptools >= 80,<= 81
pdoc3
twine
build
flask
